/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: SAMPLESHEET_CHECK {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> 
                if (filename.equals('versions.yml')) {
                    return null
                } else {
                    def newName = filename.replace('_T1', '')
                    return newName
                }
            }
        ]
    }
    withName: FASTA_CHECK {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> 
                if (filename.equals('versions.yml')) {
                    return null
                } else {
                    def newName = filename.replace('_T1', '')
                    return newName
                }
            }
        ]
    }
    withName: 'REF_FORMAT' {
        publishDir = [
            enabled: false
        ]
    }

    withName: 'NUCMER' {
        ext.args         = { "--maxmatch --nosimplify" }
        publishDir       = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/reference/masked" },
            pattern: "*.{coords}"
        ]
    }
     withName: 'COORDSTOBED' {
        publishDir = [
            path: { "${params.outdir}/reference/masked" },
            mode: params.publish_dir_mode,
            pattern: "*.bed"
        ]
    }
    withName: 'BEDTOOLS_MASKFASTA' {
        publishDir = [
            path: { "${params.outdir}/reference/masked" },
            mode: params.publish_dir_mode,
            pattern: "*.fa"       
        ]
    }
    withName: 'BWA_INDEX' {
        publishDir       = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/reference/bwa" }
        ]
    }
    withName: 'SAMTOOLS_FAIDX' {
        publishDir       = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/reference/fai" },
            pattern: "*{fai}"
        ]
    }

    withName: 'PICARD_CREATESEQUENCEDICTIONARY' {
        publishDir       = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/reference/dict" },
            pattern: "*.{dict}"
        ]
    }
    withName: CHOPPER {
        ext.args2 = [
            '-q 7', 
            '-l 1000'
        ].join(' ').trim()
        publishDir = [
            enabled: false
        ]
        ext.prefix = { "${meta.id}_chopped" }

    }
    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'NGSQI_SPORES:SPORES:QC:NANOQC' {
        publishDir = [
            path: { "${params.outdir}/qc/raw/nanoqc/${meta.id}/" },
            mode: params.publish_dir_mode
        ]
    }
    withName: 'NGSQI_SPORES:SPORES:QC:NANOCOMP' {
        publishDir = [
            path: { "${params.outdir}/qc/raw/nanocomp/${meta.id}/" },
            mode: params.publish_dir_mode
        ]
    }
    withName: 'NGSQI_SPORES:SPORES:QC:NANOPLOT' {
        publishDir = [
            path: { "${params.outdir}/qc/raw/nanoplot/${meta.id}/" },
            mode: params.publish_dir_mode
        ]
    }
    withName: 'NGSQI_SPORES:SPORES:QC_CLEAN:NANOQC' {
        publishDir = [
            path: { "${params.outdir}/qc/clean/nanoqc/${meta.id}/" },
            mode: params.publish_dir_mode
        ]
    }
    withName: 'NGSQI_SPORES:SPORES:QC_CLEAN:NANOCOMP' {
        publishDir = [
            path: { "${params.outdir}/qc/clean/nanocomp/${meta.id}/" },
            mode: params.publish_dir_mode
        ]
    }
    withName: 'NGSQI_SPORES:SPORES:QC_CLEAN:NANOPLOT' {
        publishDir = [
            path: { "${params.outdir}/qc/clean/nanoplot/${meta.id}/" },
            mode: params.publish_dir_mode
        ]
    }
    withName: 'REFDOWNLOAD' {
        publishDir = [
            path: { "${params.outdir}/simulation/download/${reference}/" },
            mode: params.publish_dir_mode
        ]
    }
    withName: 'ALTREFERENCE' {
        publishDir = [
            path: { "${params.outdir}/simulation/variant/${ID}/" },
            mode: params.publish_dir_mode
        ]
    }
    withName: 'READANALYSIS' {
        publishDir = [
            path: { "${params.outdir}/simulation/nanosim/analysis/${sample_id}/" },
            mode: params.publish_dir_mode
        ]
    }
    withName: 'NANOSIMSIMULATION' {
        publishDir = [
            path: { "${params.outdir}/simulation/nanosim/reads/${sample_id}/${reference}/" },
            mode: params.publish_dir_mode
        ]
    }
    withName: 'NGSQI_SPORES:SPORES:QCSIM:NANOQCSIM' {
        publishDir = [
            path: { "${params.outdir}/simulation/qc/nanoqc/${meta.id}/" },
            mode: params.publish_dir_mode
            ]
    }
    withName: 'NGSQI_SPORES:SPORES:QCSIM:NANOCOMPSIM' {
        publishDir = [
            path: { "${params.outdir}/simulation/qc/nanocomp/${meta.id}/" },
            mode: params.publish_dir_mode
            ]
    }
    withName: 'NGSQI_SPORES:SPORES:QCSIM:NANOPLOTSIM' {
        publishDir = [
            path: { "${params.outdir}/simulation/qc/nanoplot/${meta.id}/" },
            mode: params.publish_dir_mode
            ]
    }
}