/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run ngsqi/spores -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 16
    max_memory = '10.GB'
    max_time   = '6.h'

    // Input data
    input  = "$projectDir/assets/samplesheets/read_samplesheet.csv"
    fastas = "$projectDir/assets/samplesheets/reference_samplesheet.csv"
    ncbi_email = 'ecstow8@gmail.com' 
    ncbi_api_key = '86d3354165a563e0aa09f4ac42cb7852c608'
    postsim = true

}
